<?xml version="1.0"?>

<model>
  <name>Iron support</name>
  <version>1.0</version>
  <sdf version="1.6">support.sdf</sdf>

  <author>
    <name>JlassiSeif</name>
    <email>seifjlassi444@gmail.com</email>
  </author>

  <description>
    A support model for PFA project on ROS
  </description>
</model>
