<launch>

  <param name="robot_description" textfile="$(find robot_urdf)/urdf/Robot.urdf"/>

  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find many_robots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -5 -y 2.5  -z 0 -R 0 -P 0 -Y -1.57" />
      <arg name="robot_name"  value="robot1" />
    </include>
    <include file="$(find robot_controllers)/launch/many_robots_controllers.launch">
    <arg name="robot_namespace" value="/robot1"/>
    </include>
  </group>


  <!-- <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find many_robots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -5 -y 0 -z 0 -R 0 -P 0 -Y -1.57" />
      <arg name="robot_name"  value="robot2" />
    </include>
    <include file="$(find robot_controllers)/launch/many_robots_controllers.launch">
    <arg name="robot_namespace" value="/robot2"/>
    </include>
  </group>


  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find many_robots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 5 -y 0 -z 0 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="robot3" />
    </include>
    <include file="$(find robot_controllers)/launch/many_robots_controllers.launch">
    <arg name="robot_namespace" value="/robot3"/>
    </include>
  </group>-->


  <group ns="robot4">
    <param name="tf_prefix" value="robot4_tf" />
    <include file="$(find many_robots_sim)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 5 -y 2.5 -z 0 -R 0 -P 0 -Y 1.57" />
      <arg name="robot_name"  value="robot4" />
    </include>
    <include file="$(find robot_controllers)/launch/many_robots_controllers.launch">
    <arg name="robot_namespace" value="/robot4"/>
    </include>
  </group>


<node pkg="robot_path_planning" type="robot" name="robot1" >
<param name="param" type="string" value="robot1" /> 
</node>

<node pkg="robot_path_planning" type="robot" name="robot2" >
<param name="param" type="string" value="robot2" /> 
</node>

<node pkg="robot_path_planning" type="robot" name="robot3" >
<param name="param" type="string" value="robot3" /> 
</node>

<node pkg="robot_path_planning" type="robot" name="robot4" >
<param name="param" type="string" value="robot4" /> 
</node>

</launch>
